<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias type="com.wingstep.service.domain.user.User" alias="User" />
		<typeAlias type="com.wingstep.service.domain.user.Avatar" alias="Avatar" />
		<typeAlias type="com.wingstep.service.domain.user.LevelIcon" alias="LevelIcon" />
		
		<typeAlias type="com.wingstep.service.domain.course.Course" alias="Course"/>
		<typeAlias type="com.wingstep.service.domain.course.CoursePath" alias="CoursePath"/>
		<typeAlias type="com.wingstep.service.domain.course.Review" alias="Review"/>
		<typeAlias type="com.wingstep.service.domain.course.ReviewImage" alias="ReviewImage"/>
		
		<typeAlias type="com.wingstep.service.domain.battle.Battle" alias="Battle"/>
		<typeAlias type="com.wingstep.service.domain.battle.BattleTop" alias="BattleTop"/>
		<typeAlias type="com.wingstep.service.domain.battle.JoinBattle" alias="JoinBattle"/>
		
        <typeAlias type="com.wingstep.service.domain.workrecord.WorkRecord" alias="WorkRecord"/>
        <typeAlias type="com.wingstep.service.domain.workrecord.WorkRecordView" alias="WorkRecordView"/>
        <typeAlias type="com.wingstep.service.domain.workrecord.Measurement" alias="Measurement"/>        
	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/CourseMapper.xml"/>
		<mapper resource="sql/BattleMapper.xml"/>
		<mapper resource="sql/JoinBattleMapper.xml"/>
		<mapper resource="sql/WorkRecordMapper.xml"/>
        <mapper resource="sql/MeasurementMapper.xml"/>
	</mappers>

</configuration>