<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wingstep.service.workrecord.WorkRecordDao">

    <!-- ResultMap : WorkRecord -->
    <resultMap id="WorkRecordResultMap" type="WorkRecord">
        <id property="workRecordId"   column="WORKRECORD_ID"/>
        <result property="userId"         column="USER_ID"/>
        <result property="courseId"       column="COURSE_ID"/>
        <result property="battleId"       column="BATTLE_ID"/>
        <result property="measure"        column="IS_MEASURE"/>
        <result property="workRecordDate" column="WORKRECORD_DATE"/>
        <result property="distance"       column="DISTANCE"/>
        <result property="maxSpeed"       column="MAX_SPEED"/>
        <result property="avgSpeed"       column="AVG_SPEED"/>
        <result property="maxHeartrate"   column="MAX_HEARTRATE"/>
        <result property="avgHeartrate"   column="AVG_HEARTRATE"/>
        <result property="avgPace"        column="AVG_PACE"/>
        <result property="cadence"     column="AVG_CADENCE"/>
        <result property="calorie"        column="CALORIE"/>
    </resultMap>

    <!-- ResultMap : WorkRecordView -->
    <resultMap id="WorkRecordViewResultMap" type="WorkRecordView">
        <id property="workRecordId"   column="WORKRECORD_ID"/>
        <result property="userId"         column="USER_ID"/>
        <result property="nickname"         column="NICKNAME"/>
        <result property="courseName"       column="COURSE_NAME"/>
        <result property="battleName"       column="BATTLE_NAME"/>
        <result property="measure"        column="IS_MEASURE"/>
        <result property="workRecordDate" column="WORKRECORD_DATE"/>
        <result property="distance"       column="DISTANCE"/>
        <result property="maxSpeed"       column="MAX_SPEED"/>
        <result property="avgSpeed"       column="AVG_SPEED"/>
        <result property="maxHeartrate"   column="MAX_HEARTRATE"/>
        <result property="avgHeartrate"   column="AVG_HEARTRATE"/>
        <result property="avgPace"        column="AVG_PACE"/>
        <result property="cadence"     column="AVG_CADENCE"/>
        <result property="calorie"        column="CALORIE"/>
    </resultMap>

    <!-- 운동 기록 시작 : startWorkRecord -->
    <insert id="startWorkRecord"
            parameterType="WorkRecord"
            useGeneratedKeys="true"
            keyProperty="workRecordId">
        INSERT INTO WORKRECORD (
	        user_id,
	        course_id,
	        battle_id,
	        workrecord_date,
	        distance,
	        max_speed,
	        avg_speed,
	        max_heartrate,
	        avg_heartrate,
	        avg_pace,
	        avg_cadence,
	        calorie
        ) VALUES (
            #{userId},
            #{courseId},
            #{battleId},
            CURRENT_DATE(),
            #{distance},
            #{maxSpeed},
            #{avgSpeed},
            #{maxHeartrate},
            #{avgHeartrate},
            #{avgPace},
            #{cadence},
            #{calorie}
        )
    </insert>

    <!-- 운동기록 상세 : getWorkRecord -->
    <select id="getWorkRecord"
            parameterType="int"
            resultMap="WorkRecordResultMap">
        SELECT
	        workrecord_id,
	        user_id,
	        course_id,
	        battle_id,
	        is_measure,
	        workrecord_date,
	        distance,
	        max_speed,
	        avg_speed,
	        max_heartrate,
	        avg_heartrate,
	        max_pace,
	        avg_pace,
	        avg_cadence,
	        calorie
        FROM WORKRECORD
        WHERE workrecord_id = #{workRecordId}
    </select>
    
    <!-- 운동기록 상세(View) -->
    <select id="getWorkRecordView"
            parameterType="int"
            resultMap="WorkRecordViewResultMap">
        SELECT
	        workrecord_id,
	        user_id,
	        nickname,
	        course_name,
	        battle_name,
	        workrecord_date,
	        distance,
	        max_speed,
	        avg_speed,
	        max_heartrate,
	        avg_heartrate,
	        max_pace,
	        avg_pace,
	        avg_cadence,
	        calorie
        FROM WORKRECORD_VIEW
        WHERE workrecord_id = #{workRecordId}
    </select>
    
	<!-- 측정중인 운동기록 조회 -->
	<select id="getWorkRecordForMeasure"
	        parameterType="string"
	        resultMap="WorkRecordResultMap">
	    SELECT
	        workrecord_id,
	        user_id,
	        course_id,
	        battle_id,
	        is_measure,
	        workrecord_date,
	        distance,
	        max_speed,
	        avg_speed,
	        max_heartrate,
	        avg_heartrate,
	        max_pace,
	        avg_pace,
	        avg_cadence,
	        calorie
	    FROM WORKRECORD
	    WHERE user_id = #{userId}
	      AND is_measure = 1
	      AND workrecord_date = CURDATE()
	    ORDER BY workrecord_id DESC
	    LIMIT 1
	</select>
	
	<!-- 측정중인 운동기록 조회(유저 + 코스) -->
	<select id="getWorkRecordForMeasureByCourse"
	        resultMap="WorkRecordResultMap">
	    SELECT
	        workrecord_id,
	        user_id,
	        course_id,
	        battle_id,
	        is_measure,
	        workrecord_date,
	        distance,
	        max_speed,
	        avg_speed,
	        max_heartrate,
	        avg_heartrate,
	        max_pace,
	        avg_pace,
	        avg_cadence,
	        calorie
	    FROM WORKRECORD
	    WHERE user_id = #{userId}
	      AND course_id = #{courseId}
	      AND is_measure = 1
	      AND workrecord_date = CURDATE()
	    ORDER BY workrecord_id DESC
	    LIMIT 1
	</select>
	

	<!-- 운동기록 리스트 : listWorkRecord(사용자 + 시작일/종료일/유형) -->
	<select id="listWorkRecord"
	        resultMap="WorkRecordViewResultMap">
	    SELECT
	        workrecord_id,
	        user_id,	        
	        nickname,
	        course_name,
	        battle_name,
	        type,
	        is_measure,
	        workrecord_date,
	        distance,
	        max_speed,
	        avg_speed,
	        max_heartrate,
	        avg_heartrate,
	        max_pace,
	        avg_pace,
	        avg_cadence,
	        calorie
	    FROM WORKRECORD_VIEW
	    <where>
	        <!-- 사용자 필터 (필수라면 if 없이 고정으로 둬도 됨) -->
	        <if test="userId != null and userId != ''">
	            AND user_id = #{userId}
	        </if>
	
			<!-- 시작일 -->
			<if test="startDate != null">
			    AND workrecord_date &gt;= #{startDate}
			</if>
			
			<!-- 종료일 -->
			<if test="endDate != null">
			    AND workrecord_date &lt;= #{endDate}
			</if>
			
			<!-- 종류(산책/러닝) -->
			<if test="type != null and type != ''">
			    AND type = #{type}
			</if>
	    </where>
	    ORDER BY workrecord_id DESC
	</select>
    
    <!-- 운동기록 리스트 : listWorkRecord(코스 후기)-->
    <select id="listWorkRecordByCourse"
            resultMap="WorkRecordResultMap">
        SELECT
	        workrecord_id,
	        user_id,
	        course_id,
	        battle_id,
	        is_measure,
	        workrecord_date,
	        distance,
	        max_speed,
	        avg_speed,
	        max_heartrate,
	        avg_heartrate,
	        max_pace,
	        avg_pace,
	        avg_cadence,
	        calorie
        FROM WORKRECORD
        WHERE user_id = #{userId} 
        	AND course_id = #{courseId} 
        	AND workrecord_date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) 
        ORDER BY workrecord_id DESC
    </select>

    <!-- 운동기록 요약값 업데이트 : updateWorkRecordSummary -->
    <update id="updateWorkRecordSummary"
            parameterType="WorkRecord">
		UPDATE WORKRECORD
		SET
		    user_id         = #{userId},
		    course_id       = #{courseId},
		    battle_id       = #{battleId},
		    is_measure      = #{measure},
		    workrecord_date = #{workRecordDate},
		    distance        = #{distance},
		    max_speed       = #{maxSpeed},
		    avg_speed       = #{avgSpeed},
		    max_heartrate   = #{maxHeartrate},
		    avg_heartrate   = #{avgHeartrate},
		    avg_pace        = #{avgPace},
		    avg_cadence     = #{cadence},
		    calorie         = #{calorie}
		WHERE workrecord_id = #{workRecordId}
    </update>

    <!-- 운동기록 삭제 : deleteWorkRecord -->
    <delete id="deleteWorkRecord"
            parameterType="int">
		DELETE FROM WORKRECORD
		WHERE workrecord_id = #{workRecordId}
    </delete>

    <!-- 운동기록 통계 -->
	<select id="statsWorkRecord" resultType="map">
	    SELECT
	        SUM(distance) AS sum_distance_all,
	        AVG(avg_speed) AS avg_speed_all,
	        SUM(calorie) AS sum_calorie_all,
	        COUNT(*) AS workrecord_count,
	        AVG(avg_pace) AS avg_pace_all,
	        AVG(avg_cadence) AS avg_cadence_all,
	        AVG(avg_heartrate) AS avg_heartrate_all
	    FROM WORKRECORD_VIEW
	    <where>
	        <if test="userId != null and userId != ''">
	            AND user_id = #{userId}
	        </if>
	
	        <if test="startDate != null and startDate != ''">
	            AND workrecord_date &gt;= #{startDate}
	        </if>
	
	        <if test="endDate != null and endDate != ''">
	            AND workrecord_date &lt;= #{endDate}
	        </if>
	
	        <if test="type != null and type != ''">
	            AND type = #{type}
	        </if>
	
	        <if test="battleType != null and battleType != ''">
	            <choose>
	                <when test="battleType == '대결'">
	                    AND battle_name IS NOT NULL
	                </when>
	                <when test="battleType == '개인'">
	                    AND (battle_name IS NULL OR battle_name = '')
	                </when>
	            </choose>
	        </if>
	    </where>
	</select>
	
	<!-- 실제 데이터가 존재하는 주 목록 -->
	<select id="getAvailableWeeks" parameterType="string" resultType="map">
	    SELECT 
	        DATE_FORMAT(workrecord_date, '%x-%v') AS week_key,   -- ISO Week Key
	        MIN(workrecord_date) AS start_date,
	        MAX(workrecord_date) AS end_date
	    FROM WORKRECORD
	    WHERE user_id = #{userId}
	    GROUP BY week_key
	    ORDER BY start_date DESC
	</select>
	
	<!-- 실제 데이터가 존재하는 월 목록 -->
	<select id="getAvailableMonths" parameterType="string" resultType="string">
	    SELECT 
	        DATE_FORMAT(workrecord_date, '%Y-%m') AS month_key
	    FROM WORKRECORD
	    WHERE user_id = #{userId}
	    GROUP BY month_key
	    ORDER BY month_key DESC
	</select>
	
	<!-- 실제 데이터가 존재하는 연 목록 -->
	<select id="getAvailableYears" parameterType="string" resultType="int">
	    SELECT 
	        YEAR(workrecord_date) AS year_key
	    FROM WORKRECORD
	    WHERE user_id = #{userId}
	    GROUP BY year_key
	    ORDER BY year_key DESC
	</select>
	
	<!-- 모든 운동기록 날짜 조회 (기간 계산용) -->
	<select id="listAllForPeriod" parameterType="string" resultMap="WorkRecordResultMap">
	    SELECT
	        workrecord_id,
	        user_id,
	        course_id,
	        battle_id,
	        is_measure,
	        workrecord_date,
	        distance,
	        max_speed,
	        avg_speed,
	        max_heartrate,
	        avg_heartrate,
	        max_pace,
	        avg_pace,
	        avg_cadence,
	        calorie
	    FROM WORKRECORD
	    WHERE user_id = #{userId}
	    ORDER BY workrecord_date DESC
	</select>
	
	<!-- 생성중(코스 생성 측정중) 운동기록 조회 : workRecordId만 -->
	<select id="getAddingWorkRecordId"
	        parameterType="string"
	        resultType="int">
	    SELECT
	        workrecord_id
	    FROM WORKRECORD
	    WHERE user_id = #{userId}
	      AND is_measure = 1
	      AND course_id IS NULL
	      AND battle_id IS NULL
	      AND workrecord_date = CURDATE()
	    ORDER BY workrecord_id DESC
	    LIMIT 1
	</select>
	

</mapper>
